body {
	background: #ffffff url(bg.png) no-repeat;
}

div {
	position: absolute;
	width:500px;
	height:200px;

}
@keyframes scroll{
	to {
		left:100%;
		transform:rotate(180deg);
	}
}

#animar {
	top: 350px;
	left: 10px;	
	width:50px;
	height:50px;
	background: orange;
	animation-name: scroll;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;	
	border-radius:50%;
	transform-origin: 100% -100%;
}

#rotar {
	top: 100px;
	left: 50px;
	background:#00ffcc;
	-webkit-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	animation-name: scroll;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;	
}

#escalar {
	top: 400px;
	left: 50px;
	background:#ccff00;	
	-webkit-transform: scale(0.5) perspective(500px) rotateY(75deg);
	-o-transform: scale(0.5) perspective(500px) rotateY(75deg);
	-moz-transform: scale(0.5) perspective(500px) rotateY(75deg);
	-ms-transform: scale(0.5) perspective(500px) rotateY(75deg);
	transform: scale(0.5) perspective(500px) rotateY(75deg);
	animation-name: FadeInOut;
	animation-duration: 9s;
	animation-delay: 0.5s;
	animation-iteration-count: infinite;	
}

@keyframes FadeInOut{
	0% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
	}
}